* {
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    font-family: "Inter", sans-serif;
    background: #F5F7FB;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 550px;
    width: 550px;
    color: #293264;
    margin: 0 auto;
    border: 1px solid;
}


h1{
    font-family: "Karla", sans-serif;
    font-weight: 700;
}

h2{
    font-weight: 400;
    margin: 1.5rem;
}

.button {
    display: flex;
    color: white;
    background: #4D5B9E;
    border-radius: 15px;
    width: 200px;
    height: 55px;
    align-items: center;
    justify-content: center;
    margin-top: 1.25rem;
}

.blob-top {
    border-radius: 30% 70% 67% 33% / 30% 30% 70% 70%;
    background-color: #FFFAD1;
    width: 300px;
    height: 300px;
    position: relative;
    left: -50%;
    margin-top: -75%;
}

.blob-btm {
    border-radius: 30% 70% 67% 33% / 30% 30% 70% 70%;
    background-color: #DEEBF8;
    width: 300px;
    height: 300px;
    position: relative;
    margin-bottom: -75%;
    right: -60%;
    transform: rotate(45deg);
}